# Ignore artifacts:
build
coverage
node_modules

# Ignore all files by default
**/*

# Un-ignore only the allowed formats
!**/*.js
!**/*.json
!**/*.css

# Optional: keep node_modules ignored
**/node_modules/**
